:root{
    --dark-color:#19283F;
    --green-color:#33D1C3;
    --red-color:#FF3150;
    --yellow-color:#FFBF2D;
    --gray-color:#EFF7FA;
}
body{
    font-family: 'Roboto', sans-serif;
}
.rounded-pill{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.rounded-pill:hover{
    color: var(--yellow-color);
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left:50%;
    transform: translatex(-50%);
}
/* Start Navbar*/
.navbar{
    background-color: var(--dark-color);
}
.nav-link{
    color: white;
}
.nav-link.active,
.nav-link:focus,
.nav-link:hover{
    color: var(--green-color);
}
.search{
    border-left:1px var(--green-color) solid ;
}
.search svg{
    color: var(--green-color);
}
button.navbar-toggler {
    color: white;
    border-color: white;
    font-size: 22px;
}
button.navbar-toggler:focus{
    box-shadow: none;
}
button.navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
/* End Navbar*/

/* Start Landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing */

/* Start Features */

.icon-holder{
    height: 200px;
}
.icon-holder svg{
    left:50%;
    transform: translateX(-50%);
}
.icon-holder .number{
font-size: 12rem;
color: var(--gray-color);
}
.icon-holder .icon{
    color: var(--green-color);
}
.feat h4{
    color: var(--yellow-color);
}

/* End Features */

/* Start Our-Work */
.our-work{
    background-color: var(--gray-color);
}
.our-work ul .active{
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li{
padding: .5rem 1rem;
}
.our-work ul li:not(.active):hover{
    color:var(--red-color);
    cursor: pointer;
    
}
.our-work .box .img-fluid{
    border: white 5px solid;;
}
.our-work .box{
    position: relative;
    overflow: hidden;
    
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color:#0cf1dd57;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s;

}
.our-work .box:hover::before{
    transform: translateX(0);
}

/* End Our-Work */

/* Start Stuff */
.discription{
    width: 500px;
}
/* End Stuff */

/* Start team */
.team{
    background-color: var(--gray-color);
}
.team h3{
    color: var(--yellow-color);
}
.team h4{
    background-color: var(--green-color);
}
/* End team */

/* Start project */
.project{
background-color: var(--dark-color);
}
/* End project */

/* Start subscribe */
.subscribe{
background-color: var(--yellow-color);
}
.subscribe input[type="text"]{
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input::placeholder{
    color:white
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: var(--yellow-color);
}
/* End subscribe */

/* Start Footer */
footer{
    background-color: var(--dark-color);
}
footer span.a{
    color: var(--green-color);
}
footer span.b{
    color: var(--yellow-color);
}
footer .facebook{
    background-color: #1877f2;
}
footer .youtube{
    background-color: #ff0000;
}
footer .twitter{
    background-color: #1da1f2;
}
footer .linked{
background-color: #0077b5;
}
footer a{
    text-decoration: none;
}
/* End Footer */
